<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <dllmap dll="libvirt-0.dll">
    <dllentry os="windows" dll="libvirt-0.dll" />
    <dllentry os="!windows" dll="libvirt.so.0" />
  </dllmap>
  <dllmap dll="msvcrt.dll">
    <dllentry os="windows" dll="msvcrt.dll" name="_strdup" target="_strdup" />
    <dllentry os="windows" dll="msvcrt.dll" name="free" target="free" />
    <dllentry os="!windows" dll="libc.so.6" name="_strdup" target="strdup" />
    <dllentry os="!windows" dll="libc.so.6" name="free" target="free" />
  </dllmap>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>